<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> 日付 </th>
    <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> 出勤 </th>
    <td mat-cell *matCellDef="let element"> {{ element.start | dayjsFormat }} </td>
  </ng-container>

  <ng-container matColumnDef="finish">
    <th mat-header-cell *matHeaderCellDef> 退勤 </th>
    <td mat-cell *matCellDef="let element"> {{ element.finish | dayjsFormat }} </td>
  </ng-container>

  <ng-container matColumnDef="workingHour">
    <th mat-header-cell *matHeaderCellDef> 勤務時間 </th>
    <td mat-cell *matCellDef="let element">
      {{ element.workingHour }}
    </td>
  </ng-container>

  <ng-container matColumnDef="adjustment">
    <th mat-header-cell *matHeaderCellDef> 調整分</th>
    <td mat-cell *matCellDef="let element"> {{ displayAdjustment(element) }} </td>
  </ng-container>

  <ng-container matColumnDef="difference">
    <th mat-header-cell *matHeaderCellDef> 差分 </th>
    <td mat-cell *matCellDef="let element"> {{element.difference}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> 削除 </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
</mat-table>

