<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell>日付</th>
    <td *matCellDef="let element" mat-cell>{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th *matHeaderCellDef mat-header-cell>出勤</th>
    <td *matCellDef="let element" mat-cell>{{ element.start | dayjsFormat }}</td>
  </ng-container>

  <ng-container matColumnDef="finish">
    <th *matHeaderCellDef mat-header-cell>退勤</th>
    <td *matCellDef="let element" mat-cell>{{ element.finish | dayjsFormat }}</td>
  </ng-container>

  <ng-container matColumnDef="workingHour">
    <th *matHeaderCellDef mat-header-cell>勤務時間</th>
    <td *matCellDef="let element" mat-cell>
      {{ element.workingHour }}
    </td>
  </ng-container>

  <ng-container matColumnDef="adjustment">
    <th *matHeaderCellDef mat-header-cell>調整分</th>
    <td *matCellDef="let element" mat-cell>{{ displayAdjustment(element) }}</td>
  </ng-container>

  <ng-container matColumnDef="difference">
    <th *matHeaderCellDef mat-header-cell>差分</th>
    <td *matCellDef="let element" mat-cell>{{ element.difference }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell>削除</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-icon-button (click)="onClickDeleteButton($event, element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row class="table-row" (click)="onClickRow(row)"></tr>
</mat-table>
